#header{
  position: relative;
  background: #4ea1d3;
  .search{
    svg{
    }
  }
  .logo{
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    color: #ffffff;
    svg{
    }
  }
  ul{
    list-style: none;
    margin: 0;
    position: absolute;
    right: 3rem;
    top: 1.9rem;
    li{
      display: inline-block;
      a{
        color: white;
        padding: 1.9rem 1.5rem;
        &:hover,
        &:focus{

        }
        &:active{

        }
        &.is-active{

        }
      }
    }
  }
}
