.banner{
  height: 400px;
  overflow: hidden;
  position: relative;
  .text{
    position: absolute;
    z-index: 3;
    top: 36%;
    left: 0;
    right: 0;
    text-align: center;
    h2{
      color: #ffffff;
    }
    p{
      color: #ffffff;
    }
  }
  img{
    position: absolute;
    z-index: 2;
    opacity: .4;
  }
  .underlay{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #222222;
  }
}
